:root {
    --dsk-bg-primary: #1d2d3c;
    --dsk-bg-primary-dark: #112030;
    --dsk-bg-header-dark: #06131f;
}

.bg_primary_dark {
    background-color: var(--dsk-bg-primary-dark);
}

.bg_primary {
    background-color: var(--dsk-bg-primary);
}

.bg_header_dark {
    background-color: var(--dsk-bg-header-dark);
}

nav {
    height: 4rem;
    padding-left: 3rem;
    line-height: 4rem;
    font-size: 2.3rem;
}